@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.fadeIn-titulos {
  animation: fadeIn-titulos 1.5s 0.4s forwards;
}

@keyframes fadeIn-titulos {
  0% {
    transform: translateX(-15vw);
  }
  80% {
    transform: translateX(1vw);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.content {
  opacity: 0;
}

.fadeIn-content > * {
  animation: fadeIn-content 2.5s forwards;
}

@keyframes fadeIn-content {
  0% {
    transform: translateY(20vh);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
nav {
  height: 5vh;
  position: sticky;
  z-index: 100;
  top: 0;
}
nav > svg {
  position: absolute;
  top: 5.5vh;
  max-width: 20vw;
  transition: top 1s;
  animation: appear 2s forwards;
  fill: #FFFFFF;
}
nav .menuIcon {
  display: none;
  animation: none;
}
@keyframes appear {
  0% {
    left: -20vw;
  }
  100% {
    left: 0;
  }
}
nav .sections {
  padding: 4vh 22vw;
  padding-right: 5vw !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: padding 1s;
  background-color: #FF6A27;
  box-shadow: 0 0 6vh black;
}
nav .sections a:hover {
  border-bottom: solid #FFFFFF 0.5vh;
}
nav .sections a.redLink:hover {
  border-bottom: none;
}
nav .sections * {
  text-align: center;
  font-size: 3.5vh;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}
nav .sections * a {
  text-decoration: none;
}
nav .sections svg:hover {
  transform: scale(1.15);
}
nav .sections .navRedes {
  justify-self: flex-end;
  height: 4vh;
  width: 12vw;
  position: relative;
  left: 2%;
  top: -1.2vh;
  display: flex;
  justify-content: space-between;
}
nav .sections .navRedes svg {
  transition: transform 1s;
}

.pageOffset .sections {
  padding: 2vh 22vw;
  padding-right: 5vw !important;
}
.pageOffset svg {
  top: 3.5vh;
}

.active {
  border-bottom: solid 0.5vh #FFFFFF;
}

header#intro {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: inherit;
}
header#intro .headContainer {
  position: relative;
  overflow: hidden;
  width: 95%;
  height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("../../img/portada.png");
  background-size: 100%;
}
header#intro .headContainer p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 5vh;
  letter-spacing: 0.5vh;
  line-height: 4vh;
  color: #FFFFFF;
}
header#intro .headContainer h1 {
  margin: 0;
  font-family: "DM Serif Display", serif;
  font-size: 18vh;
  font-weight: 400;
  color: #FFFFFF;
}
header#intro .headContainer h2 {
  position: absolute;
  bottom: 5%;
  right: 2%;
  margin: 0;
  font-family: "DM Serif Display", serif;
  font-size: 5vh;
  font-style: italic;
  font-weight: normal;
  color: #FFFFFF;
}
header#intro .headContainer .linesContainer {
  position: absolute;
  height: inherit;
  width: inherit;
}
header#intro .headContainer .linesContainer svg {
  position: absolute;
}
header#intro .headContainer .linesContainer svg:nth-child(1) {
  top: 34.2%;
  left: 0;
}
header#intro .headContainer .linesContainer svg:nth-child(2) {
  top: 34.2%;
  right: -13%;
}
header#intro .headContainer .linesContainer svg:nth-child(3) {
  bottom: 34.2%;
  left: 0;
}
header#intro .headContainer .linesContainer svg:nth-child(4) {
  bottom: 34.2%;
  right: -9%;
}
header#intro .headContainer .linesContainer svg:nth-child(5) {
  bottom: 8%;
  left: 0;
}

section#servicios {
  position: relative;
  height: 100vh;
  display: flex;
}
section#servicios h3 {
  opacity: 0;
  width: 90%;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 2%;
  transform-origin: 0 0;
  font-family: "DM Serif Display", serif;
  font-size: 6vh;
  font-weight: normal;
  border-bottom: solid white 0.5vh;
}
section#servicios h3 {
  color: white;
}
section#servicios .servicios_container {
  padding-left: 6vh;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #F4682A;
}
section#servicios .servicios_container div {
  position: relative;
  top: 30%;
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#servicios .servicios_container div svg {
  border-radius: 100%;
  background-color: white;
  margin-bottom: 3vh;
}
section#servicios .servicios_container div h5, section#servicios .servicios_container div pre {
  margin: 0;
  font-family: "DM Serif Display", serif;
  font-size: 5vh;
  font-weight: normal;
  color: white;
}
section#servicios .servicios_container div p {
  font-family: "Montserrat", sans-serif;
  font-size: 3vh;
  padding: 0 2vw;
  color: white;
  text-align: center;
}

section#misTrabajos {
  position: relative;
  height: 100vh;
}
section#misTrabajos h3 {
  opacity: 0;
  width: 90%;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 2%;
  transform-origin: 0 0;
  font-family: "DM Serif Display", serif;
  font-size: 6vh;
  font-weight: normal;
  border-bottom: solid white 0.5vh;
}
section#misTrabajos h3 {
  color: #FF6A27;
  border-color: #FF6A27;
}
section#misTrabajos .misTrabajos_container {
  overflow: hidden;
  position: relative;
  top: 5%;
  margin: 0 10vh;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
section#misTrabajos .misTrabajos_container div {
  position: relative;
  width: 31%;
  height: 60vh;
  text-align: center;
}
section#misTrabajos .misTrabajos_container div ul:hover {
  opacity: 0.9;
}
section#misTrabajos .misTrabajos_container div ul {
  cursor: pointer;
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F4682A;
  list-style-type: none;
  opacity: 0;
  transition: opacity 1.2s;
}
section#misTrabajos .misTrabajos_container div ul li {
  margin: 1vh 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 3vh;
}
section#misTrabajos .misTrabajos_container div P {
  width: 100%;
  position: relative;
  display: inline-block;
  font-family: "DM Serif Display", serif;
  font-size: 4vh;
  font-weight: normal;
  color: #F4682A;
  border-bottom: #F4682A solid 0.5vh;
}
section#misTrabajos .misTrabajos_container img {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 60vh;
}
section#misTrabajos .misTrabajos_subContainer {
  padding: 4vh 0;
  width: 90%;
  height: 75%;
  position: absolute;
  z-index: 80;
  left: 5%;
  top: 10%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: #F4682A solid 0.2vh;
}
section#misTrabajos .misTrabajos_subContainer h4 {
  width: 90%;
  margin: 0;
  margin-left: 5vw;
  font-family: "DM Serif Display", serif;
  font-size: 6vh;
  font-weight: 400;
  border-bottom: solid #F4682A 0.5vh;
  color: #FF6A27;
}
section#misTrabajos .misTrabajos_subContainer > p {
  width: 80%;
  margin: 1.5vh 0;
  margin-left: 5vw;
  font-family: "Montserrat", sans-serif;
  font-size: 3vh;
  font-weight: 700;
  color: #F4682A;
}
section#misTrabajos .misTrabajos_subContainer > div {
  position: relative;
  top: -3%;
  margin-left: 2.5%;
  width: 95%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section#misTrabajos .misTrabajos_subContainer > div div:nth-child(1) {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#misTrabajos .misTrabajos_subContainer > div div:nth-child(1) p {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 2.8vh;
  font-weight: 500;
  color: black;
  line-height: 5vh;
}
section#misTrabajos .misTrabajos_subContainer > div div:nth-child(1) button:hover {
  background-color: #FFFFFF;
  color: #F4682A;
}
section#misTrabajos .misTrabajos_subContainer > div div:nth-child(1) button {
  align-self: center;
  width: 35%;
  height: 5vh;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vh;
  font-weight: 700;
  background-color: #FF6A27;
  color: white;
  border-radius: 3vh;
  border-color: #F4682A;
  border-style: solid;
  outline: none;
  transition: background-color 1.5s, color 0.5s;
  transition-delay: 0.2s;
}
section#misTrabajos .misTrabajos_subContainer > div div:nth-child(1) button a {
  text-decoration: none;
  color: inherit;
}
section#misTrabajos .misTrabajos_subContainer > div div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}
section#misTrabajos .misTrabajos_subContainer > div div:nth-child(2) img {
  width: 100%;
  height: 49%;
}
section#misTrabajos .misTrabajos_subContainer > div div:nth-child(2) img[alt=holstee_manifesto] {
  align-self: center;
  width: 65%;
  height: 100%;
}
section#misTrabajos .misTrabajos_subContainer svg:hover path {
  d: path("M 8 7.7 l 9 9 m 0 -9 l -9 9");
  stroke-width: 1.5;
}
section#misTrabajos .misTrabajos_subContainer svg {
  cursor: pointer;
  position: absolute;
  right: 4%;
}
section#misTrabajos .misTrabajos_subContainer svg path {
  transition: d 1s, stroke-width 1s;
}

.inActive {
  display: none !important;
}

section#deMi {
  position: relative;
  height: 100vh;
  width: inherit;
}
section#deMi h3 {
  opacity: 0;
  width: 90%;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 2%;
  transform-origin: 0 0;
  font-family: "DM Serif Display", serif;
  font-size: 6vh;
  font-weight: normal;
  border-bottom: solid white 0.5vh;
}
section#deMi h3 {
  color: white;
}
section#deMi .deMi_container {
  height: 90vh;
  width: inherit;
  padding-top: 6.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 40vh;
  background-color: #F4682A;
}
section#deMi .deMi_container div {
  position: absolute;
  top: 25%;
  left: 2%;
  width: 20%;
  height: 40%;
  background-color: grey;
}
section#deMi .deMi_container p {
  margin: 4vh 10vh;
  font-family: "Roboto", sans-serif;
  font-size: 4vh;
  font-weight: 500;
  color: white;
}

section#contacto {
  position: relative;
  height: 100vh;
  height: 110vh;
}
section#contacto h3 {
  opacity: 0;
  width: 90%;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 2%;
  transform-origin: 0 0;
  font-family: "DM Serif Display", serif;
  font-size: 6vh;
  font-weight: normal;
  border-bottom: solid white 0.5vh;
}
section#contacto h3 {
  color: #FF6A27;
  border-color: #FF6A27;
}
section#contacto .contacto_container {
  position: relative;
  top: 20%;
  height: 80vh;
  width: 95%;
  max-width: inherit;
  max-height: inherit;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
}
section#contacto .contacto_container .contactoForm {
  height: 62%;
  font-family: "Montserrat", sans-serif;
  font-size: 3vh;
  font-style: normal;
  font-weight: 500;
  color: #F4682A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
section#contacto .contacto_container .contactoForm .formTxt {
  margin: 0 2vw;
  width: 44%;
  display: flex;
  flex-direction: column;
}
section#contacto .contacto_container .contactoForm .formTxt div {
  margin-top: 4vh;
  padding-bottom: 1vh;
  border-bottom: 0.25vh solid #F4682A;
}
section#contacto .contacto_container .contactoForm .formTxt div label {
  display: inline-block;
  width: 20%;
}
section#contacto .contacto_container .contactoForm .formTxt div input {
  width: 75%;
  color: #201f1f;
  border: none;
  outline: none;
  font: inherit;
}
section#contacto .contacto_container .contactoForm .formCheck {
  width: 45%;
  height: 40%;
  display: flex;
  flex-direction: column;
}
section#contacto .contacto_container .contactoForm .formCheck p {
  text-align: left;
  margin-top: 1vh;
  margin-bottom: 2vh;
}
section#contacto .contacto_container .contactoForm .formCheck input {
  display: none;
}
section#contacto .contacto_container .contactoForm .formCheck > div {
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
}
section#contacto .contacto_container .contactoForm .formCheck > div > label {
  cursor: pointer;
  position: relative;
  width: 50%;
  font-size: 22px;
  user-select: none;
  color: #752703;
}
section#contacto .contacto_container .contactoForm .formCheck .checkMark {
  position: absolute;
  right: 25%;
  width: 3vh;
  height: 3vh;
  border: solid #F4682A 0.3vh;
}
section#contacto .contacto_container .contactoForm .formCheck label input:checked ~ .checkMark {
  background-color: #F4682A;
}
section#contacto .contacto_container .contactoForm .formCheck .checkMark:after {
  content: "";
  position: absolute;
  display: none;
}
section#contacto .contacto_container .contactoForm .formCheck label input:checked ~ .checkMark:after {
  display: block;
}
section#contacto .contacto_container .contactoForm .formCheck label .checkMark:after {
  left: 25%;
  top: 6%;
  width: 0.8vh;
  height: 2vh;
  border: solid white;
  border-width: 0 0.5vh 0.5vh 0;
  transform: rotate(45deg);
}
section#contacto .contacto_container .contactoForm .formBox {
  margin: 0 2vw;
  width: 95%;
  height: 5vh;
  padding-bottom: 1vh;
  border-bottom: 0.25vh solid #F4682A;
}
section#contacto .contacto_container .contactoForm .formBox input::placeholder {
  color: #F4682A;
}
section#contacto .contacto_container .contactoForm .formBox input {
  width: 80%;
  color: #201f1f;
  border: none;
  outline: none;
  font: inherit;
}
section#contacto .contacto_container .contactoForm button:hover {
  background-color: #FFFFFF;
  color: #F4682A;
}
section#contacto .contacto_container .contactoForm button {
  cursor: pointer;
  position: relative;
  left: 84%;
  width: 15vw;
  height: 5vh;
  font-family: "Montserrat", sans-serif;
  font-size: 3vh;
  font-weight: 700;
  background-color: #FF6A27;
  color: white;
  border-radius: 3vh;
  border-color: #F4682A;
  border-style: solid;
  outline: none;
  transition: background-color 1.5s, color 0.5s;
  transition-delay: 0.2s;
}
section#contacto .contacto_container p {
  margin: 0;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 2.8vh;
  font-style: italic;
  font-weight: 500;
  color: #F4682A;
}
section#contacto .contacto_container .contactoRedes {
  overflow: hidden;
  position: relative;
  top: 5%;
}
section#contacto .contacto_container .contactoRedes h5 {
  margin: 1vh 0;
  font-family: "DM Serif Display", serif;
  font-size: 4vh;
  font-weight: 400;
  color: #FF6A27;
  text-align: center;
}
section#contacto .contacto_container .contactoRedes svg:hover {
  transform: scale(1.2);
}
section#contacto .contacto_container .contactoRedes .redesIcons {
  cursor: pointer;
  margin-top: 5vh;
  text-align: center;
}
section#contacto .contacto_container .contactoRedes .redesIcons svg {
  transition: transform 1s;
}
section#contacto .contacto_container .lines {
  height: 0;
}
section#contacto .contacto_container .lines svg {
  position: absolute;
  top: 60.5vh;
}
section#contacto .contacto_container .lines svg:nth-child(1) {
  left: -10%;
}
section#contacto .contacto_container .lines svg:nth-child(2) {
  right: -10%;
  top: 60.7vh;
}

footer {
  padding: 1.5vh 0;
  background-color: #FF6A27;
  font-family: "Montserrat", sans-serif;
  font-size: 3vh;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  html {
    overflow-x: hidden;
  }

  nav {
    height: 0;
  }
  nav > svg:nth-child(1) {
    display: none;
  }
  nav .menuIcon {
    display: block;
    position: fixed;
    top: 2%;
    right: 5%;
    border: #786b6b 0.5vh solid;
  }
  nav .sections {
    display: none;
    position: absolute;
    padding: 0 !important;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }
  nav .sections div {
    height: 10% !important;
  }
  nav .sections a:hover {
    border-bottom: none;
  }
  nav .sections .navRedes {
    width: 50%;
    justify-content: space-between;
    top: 0;
    left: 0;
  }
  nav .active {
    border-bottom: none;
  }
  nav .visible {
    display: flex;
  }

  header#intro .headContainer p {
    font-size: 3vh !important;
  }
  header#intro .headContainer h1 {
    font-size: 8vh !important;
  }
  header#intro .headContainer h2 {
    font-size: 3.5vh !important;
  }
  header#intro .headContainer .linesContainer {
    position: absolute;
    height: inherit;
    width: inherit;
  }
  header#intro .headContainer .linesContainer svg {
    position: absolute;
    width: 15%;
  }
  header#intro .headContainer .linesContainer svg line {
    stroke-width: 15;
  }
  header#intro .headContainer .linesContainer svg:nth-child(1) {
    top: 41.5%;
  }
  header#intro .headContainer .linesContainer svg:nth-child(2) {
    top: 41.5%;
    right: -7%;
  }
  header#intro .headContainer .linesContainer svg:nth-child(3) {
    width: 22%;
    bottom: 41.5%;
    left: 0;
  }
  header#intro .headContainer .linesContainer svg:nth-child(3) line {
    stroke-width: 10;
  }
  header#intro .headContainer .linesContainer svg:nth-child(4) {
    width: 23%;
    bottom: 41.5%;
    right: -8%;
  }
  header#intro .headContainer .linesContainer svg:nth-child(4) line {
    stroke-width: 10;
  }
  header#intro .headContainer .linesContainer svg:nth-child(5) {
    width: 55%;
    bottom: 7.2%;
  }
  header#intro .headContainer .linesContainer svg:nth-child(5) line {
    stroke-width: 9;
  }

  section#servicios {
    height: 210vh;
    margin-bottom: 10vh;
  }
  section#servicios h3 {
    top: 2%;
    left: 5%;
    font-size: 5vh;
  }
  section#servicios .servicios_container {
    padding-top: 10vh;
    padding-left: 0vh;
    height: inherit;
    flex-direction: column;
    justify-content: flex-start;
  }
  section#servicios .servicios_container div {
    margin-top: 10vh;
    width: 100%;
    top: 0%;
  }
  section#servicios .servicios_container div p {
    padding: 0 4vw;
  }

  section#misTrabajos {
    height: 230vh;
  }
  section#misTrabajos h3 {
    top: 4%;
    left: 5%;
    font-size: 5vh;
  }
  section#misTrabajos .misTrabajos_container {
    padding: 0 10vw;
    height: inherit;
    overflow: unset;
    top: 2%;
    margin: 0;
    flex-direction: column;
    flex-wrap: unset;
    justify-content: space-evenly;
  }
  section#misTrabajos .misTrabajos_container div {
    width: 100%;
    height: 45vh;
  }
  section#misTrabajos .misTrabajos_container div ul:hover {
    opacity: 0;
  }
  section#misTrabajos .misTrabajos_container div p {
    font-size: 3.5vh;
  }
  section#misTrabajos .misTrabajos_container div img {
    height: inherit;
  }
  section#misTrabajos .misTrabajos_subContainer {
    height: 65%;
  }
  section#misTrabajos .misTrabajos_subContainer h4 {
    margin-top: 10vh;
    font-size: 4.5vh;
  }
  section#misTrabajos .misTrabajos_subContainer > div {
    width: 90%;
    top: 2%;
    left: 5%;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
  section#misTrabajos .misTrabajos_subContainer > div div:nth-child(1) {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  section#misTrabajos .misTrabajos_subContainer > div div:nth-child(1) p {
    width: 100%;
    line-height: 5vh;
  }
  section#misTrabajos .misTrabajos_subContainer > div div:nth-child(1) button {
    width: 50%;
    margin-top: 3vh;
  }
  section#misTrabajos .misTrabajos_subContainer > div div:nth-child(2) {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
  }
  section#misTrabajos .misTrabajos_subContainer > div div:nth-child(2) img {
    height: 45%;
  }
  section#misTrabajos .misTrabajos_subContainer svg {
    top: 2%;
    right: 5%;
  }

  section#deMi {
    height: 170vh;
  }
  section#deMi h3 {
    top: 8%;
    left: 5%;
    font-size: 5vh;
  }
  section#deMi .deMi_container {
    height: inherit;
    padding: 0;
    padding-bottom: 5vh;
    justify-content: flex-end;
    align-items: center;
  }
  section#deMi .deMi_container div {
    margin-bottom: 4vh;
    position: static;
    width: 60%;
    height: 20%;
  }
  section#deMi .deMi_container p {
    margin: 2vh 3vw;
    font-size: 3.2vh;
  }

  section#contacto {
    height: 180vh;
  }
  section#contacto h3 {
    top: 8%;
    left: 5%;
    font-size: 5vh;
  }
  section#contacto .contacto_container {
    top: 15%;
    padding: 0;
    width: 100%;
    height: 80%;
  }
  section#contacto .contacto_container .contactoForm {
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  section#contacto .contacto_container .contactoForm .formTxt {
    align-self: center;
    margin: 0;
    width: 95%;
  }
  section#contacto .contacto_container .contactoForm .formTxt div label {
    width: 35%;
    font-size: 15px;
  }
  section#contacto .contacto_container .contactoForm .formTxt div input {
    width: 50%;
  }
  section#contacto .contacto_container .contactoForm .formCheck {
    min-height: 55%;
    align-self: center;
    margin: 8vh 0;
    width: 95%;
    height: 45%;
  }
  section#contacto .contacto_container .contactoForm .formCheck > p {
    font-size: 15px;
  }
  section#contacto .contacto_container .contactoForm .formCheck > div {
    flex-direction: column;
  }
  section#contacto .contacto_container .contactoForm .formCheck > div label {
    width: 90%;
    margin: 1vh 0;
  }
  section#contacto .contacto_container .contactoForm .formBox {
    font-size: 15px;
    min-height: 7%;
    padding: 0;
    margin: 4vh 0 !important;
    align-self: center;
    margin: 0;
  }
  section#contacto .contacto_container .contactoForm button {
    top: 5%;
    left: 30%;
    width: 40%;
  }
  section#contacto p {
    align-self: center;
    width: 95%;
    margin-top: 4vh !important;
    text-align: center !important;
  }
  section#contacto .contactoRedes {
    height: 50%;
  }
  section#contacto .lines {
    display: none;
  }

  footer {
    width: 100%;
  }
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html body {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
