@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
header {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: inherit;
}
header .lines {
  position: absolute;
}
header .lines svg:nth-child(1) {
  position: absolute;
  top: 5.5vh;
  max-width: 20vw;
}
header nav {
  padding: 4vh 20vw;
  display: flex;
  justify-content: space-evenly;
  background-color: #000000;
}
header nav * {
  cursor: pointer;
  text-align: center;
  font-size: 3vh;
  font-family: "Montserrat", sans-serif;
  color: #FF6A27;
}
header .headContainer {
  position: relative;
  overflow: hidden;
  width: 95%;
  height: 85vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("/img/portada.png");
  background-size: 100%;
}
header .headContainer p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 5vh;
  letter-spacing: 0.5vh;
  line-height: 4vh;
}
header .headContainer p:nth-child(3) {
  transform: rotate(180deg);
}
header .headContainer h1, header .headContainer pre {
  margin: 0;
  font-family: "Zilla Slab Highlight";
  font-size: 18vh;
  font-weight: 400;
}
header .headContainer h3 > pre {
  position: absolute;
  bottom: 5%;
  right: 0;
  margin: 0;
  font-family: "Zilla Slab Highlight";
  font-size: 5vh;
  font-weight: 600;
}

section#servicios {
  position: relative;
  height: 100vh;
  width: inherit;
  display: flex;
}
section#servicios h3, section#servicios h3 > pre {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 2%;
  font-size: 10vh;
  transform-origin: 0 0;
  font-family: "Zilla Slab Highlight";
  font-size: 6vh;
}
section#servicios h3 {
  color: white;
}
section#servicios .serviciosContainer {
  padding-top: 20vh;
  padding-left: 6vh;
  background-color: #F4682A;
  height: 74vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
section#servicios .serviciosContainer div {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#servicios .serviciosContainer div svg {
  border-radius: 100%;
  background-color: white;
  margin-bottom: 3vh;
}
section#servicios .serviciosContainer div h5, section#servicios .serviciosContainer div pre {
  margin: 0;
  font-family: "Zilla Slab Highlight";
  font-size: 5vh;
  color: white;
}
section#servicios .serviciosContainer div p {
  font-family: "Montserrat", sans-serif;
  font-size: 3vh;
  padding: 0 2vh;
  color: white;
}

section#misTrabajos {
  position: relative;
  height: 100vh;
  width: inherit;
}
section#misTrabajos h3, section#misTrabajos h3 > pre {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 2%;
  font-size: 10vh;
  transform-origin: 0 0;
  font-family: "Zilla Slab Highlight";
  font-size: 6vh;
}
section#misTrabajos h3 {
  color: #FF6A27;
}
section#misTrabajos .misTrabajos_container {
  overflow: hidden;
  position: relative;
  margin: 0 10vh;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
section#misTrabajos .misTrabajos_container div {
  position: relative;
  width: 31%;
  height: 60vh;
  text-align: center;
}
section#misTrabajos .misTrabajos_container div P {
  position: relative;
  top: 50vh;
  display: inline-block;
  font-family: "Zilla Slab Highlight";
  font-size: 4vh;
  font-weight: 700;
  color: tomato;
  background-color: white;
  line-height: 4vh;
}
section#misTrabajos .misTrabajos_container img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 60vh;
  opacity: 0.65;
}

section.deMi {
  position: relative;
  height: 100vh;
  width: inherit;
}
section.deMi h3, section.deMi h3 > pre {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 2%;
  font-size: 10vh;
  transform-origin: 0 0;
  font-family: "Zilla Slab Highlight";
  font-size: 6vh;
}

section.contacto {
  position: relative;
  height: 100vh;
  width: inherit;
}
section.contacto h3, section.contacto h3 > pre {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 2%;
  font-size: 10vh;
  transform-origin: 0 0;
  font-family: "Zilla Slab Highlight";
  font-size: 6vh;
}
section.contacto > div {
  height: inherit;
  width: 85%;
  margin-left: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.contacto > div .contactoForm p {
  font-size: 6vh;
  text-align: center;
}
section.contacto > div .contactoForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.contacto > div .contactoForm form * {
  width: 100%;
  margin: 1.2vh 0;
}
section.contacto > div .contactoForm form input {
  height: 4vh;
}
section.contacto > div .contactoForm form textarea {
  height: 30vh;
}
section.contacto > div .contactoForm form button {
  align-self: flex-end;
  width: 20%;
}
section.contacto > div .contactoRedes {
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
section.contacto > div .contactoRedes div {
  margin: 0vh 10vh;
}

body {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
